<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rotten Tomatoes Scraper</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

</head>

<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <aside id="menu-aside" class="col-12 col-md-1 p-0 bg-dark">
                <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
                    <div class="collapse navbar-collapse">
                        <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                            <li class="nav-item">
                                <h4 class="text-light">Menu</h4>
                                <a class="nav-link pl-0" id="homeLink" href="/">Home</a>
                                <a class="nav-link pl-0" id="favLink" href="/favorite">Favorites</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </aside>
            <main class="col p-0">
                {{{ body }}}
            </main>
            <footer class="footer bg-dark fixed-bottom">
                <div class="container">
                    <span>Rotten Tomatoes Mongo Scraper - Michelle Collums</span>
                </div>
            </footer>
        </div>
    </div>
    {{!-- <script type="text/javascript" src="/main.js"></script> --}}
</body>

</html>