.jumbotron {
    background-image: url("../images/bluePaper.png");
}

.fav-card {
    width: 26vw;
    margin-bottom: 5vh;
}

#addNotes {
    margin-top: 10vh;
}

#dbMessage {
    padding-top: 20px;
}

#viewNotes {
    padding-top: 10vh;
}

#note-heading {
    float: left;
}

#note-view-toggle {
    padding: 0px 8px;
    float: right;
    color: rgb(133, 133, 133);
}

#note-view-toggle:hover {
    border: 1px solid #666;
    border-radius: 50%;
}

#note-view-toggle:active {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
}