.jumbotron {
    margin-bottom: 0;
}

/* .scrapeBtn {
    margin: 0 10px;
} */

#articleContainer {
    padding: 10vh 4vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article-card {
    width: 20vw;
}

.btn-outline-secondary {
    color: #666 !important;
    font-size: 12px;
    border-radius: 15px;
}

.btn-outline-secondary:hover {
    /* background-color: green; */
    color: white !important;
    box-shadow: 0px 1.5px 2px #686868;
}

.heart-false {
    color:#666;
}

.heart-true {
    color: red;
}