#menu-aside {
    height: auto;
    min-width: 110px;
}

ul.navbar-nav {
    padding-top: 20px;
}

footer {
    height: 20px;
    font-size: 9pt;
    color: rgb(128, 128, 128);
}

footer span {
    margin-left: 35vw;
}