html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    font-family: 'Assistant', sans-serif;
}

/* NAVBAR STYLING */
/* ******************************************************************** */
#menu-aside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

ul.navbar-nav {
    padding-top: 20px;
}

/* SHARED PAGES STYLING */
/* ******************************************************************** */

/* JUMBOTRON STYLING */
.main-cont {
    position: relative;
    left: 40px;
    width: 90%;
}

.jumbotron {
    margin-bottom: 0;
    background-size: cover;
    background-position: center;
    color: white;
}

.jumbotron:first-child {
    margin-left: 5vw;
}

.jumbotron h1 {
    font-family: 'Pacifico', cursive;
}

/* ARTICLES STYLING */
.articleContainer {
    padding: 10vh 3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn-outline-secondary {
    color: #666 !important;
    font-size: 14px;
    border-radius: 15px;
}

.btn-outline-secondary:hover {
    color: white !important;
    box-shadow: 0px 1.5px 2px #686868;
}

.favBtn {
    border-radius: 50%;
}

.heart-false {
    color:#666;
}

.heart-true {
    color: red;
}


/* FOOTER STYLING */
/* ******************************************************************** */
footer {
    height: 20px;
    font-size: 9pt;
    color: rgb(128, 128, 128);
}

footer span {
    margin-left: 35vw;
}